.infoCard {
  min-width: 50%;
  height: 480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.info {
  height: 100%;
  margin-top: 15%;
  margin-left: 10%;
  width: 100%;
}
.infoCard h2 {
  margin: 0;
  font-size: 2rem;
  margin-top: 15%;
  margin-left: 10%;
}
.infoCard p {
  max-width: 85%;
  max-height: 20%;
  margin-left: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btnContainer {
  display: flex;
}
.btn {
  padding: 14px 40px;
  background-color: rgba(255, 166, 0, 0.787);
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-left: 10%;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .infoCard {
    margin: auto;
    width: 85vw;
  }
  .infoCard h2 {
    text-align: center;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .infoCard p {
    text-align: center;
    margin: auto;
    max-height: 30%;
  }
  .btn {
    margin: auto;
    margin-top: 3rem;
  }
}
@media (max-width: 600px) {
  .infoCard {
    width: 30rem;
    height: 400px;
  }
}
@media (max-width: 470px) {
  .btn {
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto;
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .infoCard {
    height: 350px;
  }
  .infoCard h2 {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  .infoCard p {
    font-size: 1rem;
    max-height: 40%;
  }
}
@media (max-width: 350px) {
  .infoCard {
    width: 30rem;
    height: 300px;
  }
  .btn {
    margin-top: 30px;
  }
  .infoCard p {
    font-size: 0.8rem;
  }
  .infoCard h2 {
    font-size: 1.4rem;
  }
}
